// /******************************************************************/
// /*                Index - Main section styles                     */
// /******************************************************************/

// #region Hero styles

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.hero__background {
  display: block;
  // position: relative;
  margin: 0 auto;
  // padding: 15px 15px;
  text-align: center;
  width: 480px;
  height: 400px;

  background-color: $header-overlay;
  background-image:
    linear-gradient(to right, $header-overlay, $header-overlay),
    url('../images/headerbg-480.jpg');
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: cover;
  background-color: transparent;

  @media (min-width: 768px) {
    width: 768px;
    background-image:
      linear-gradient(to right, $header-overlay, $header-overlay),
      url('../images/headerbg-768.jpg');
  }

  @media (min-width: 1200px) {
    width: 1600px;
    height: 600px;
    background-image:
      linear-gradient(to right, $header-overlay, $header-overlay),
      url('../images/headerbg-1600.jpg');
    background-repeat: no-repeat;
    background-position: 50% top;
    background-size: cover;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.hero__title {
  display: block;
  padding: 0;
  margin: 0 0 30px;
  
  max-width: 360px;

  color: $contrast-text;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: 1200) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

// #endregion

// #region Our advantages styles

.advantage__list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: -15px;
}

.advantage {
  display: block;
  --itemmargin: 15px;
  --itemcount: 1;

  margin: var(--itemmargin);

  @media (min-width: 768px) {
    --itemcount: 2;
  }
    
  @media (min-width: 1200px) {
    --itemcount: 4;
  }

  width: calc( 100% / var(--itemcount) - 2 * var(--itemmargin) );
}

.advantage__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270;
  height: 120px;
  margin-bottom: 30px;
  padding: 0;

  background-color: $light-grey-background;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__header {
  margin: 0;

  color: $dark-grey-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text {
  margin: 10px 0 0 0;

  color: $light-grey-text;
  line-height: 1.71;
}

// #endregion

// #region What we do section styles

.what-we-do {
  padding-top: 0;
  @media (max-width: 1200px) {
    display: none;
  }
}

.specialization__list {
  margin: -15px;
}

.specialization {
  position: relative;
  margin: 15px;
}

.specialization__title {
  display: block;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  padding: 27px 0;

  background-color: $what-we-do-overlay;
  transition: background-color 1000ms ease-in-out;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $contrast-text;

  .specialization:hover &,
  .specialization:focus & {
    background-color: $what-we-do-overlay-dark;
  }
}

// #endregion

// #region Our team section styles

.team-member__list {
  margin: -15px;
}

.team-member {
  --itemmargin: 15px;
  --itemcount: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--itemmargin);
  padding-bottom: 30px;

  @media (min-width: 768px) {--itemcount: 2;}    
  @media (min-width: 1200px) {--itemcount: 4;}
  width: calc(100% / var(--itemcount) - 2 * var(--itemmargin));

  background-color: $contrast-text;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__name {
  margin: 30px 0 10px;

  color: $dark-grey-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team-member__position {
  margin: 0 0 16px;
  color: $light-grey-text;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

// #endregion

// #region Our clients section styles

.our-client__list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: -15px;
}

.our-client {
  --itemmargin: 15px;
  --itemcount: 2;
  @media (min-width: 768px) {--itemcount: 3;}    
  @media (min-width: 1200px) {--itemcount: 6;}

  display: inline-block;
  width: calc(100% / var(--itemcount) - 2 * var(--itemmargin));
  margin: var(--itemmargin);
}

.our-client__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 92px;
  // margin: 0;
  // padding: 16px 32px;

  // font-size: 0;
  text-decoration: none;

  color: $icon-color;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: color 250ms $animation-time-function,
  border-color 250ms $animation-time-function;

  &:hover,
  &:focus {
    color: $active-link-color;
    border-color: $active-link-color;
  }
}

// #endregion

// #region Modal window styles

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $what-we-do-overlay;

  transition: opacity 250ms $animation-time-function;
  z-index: 3;
}

.modal-window {
  display: block;
  position: absolute;
  width: 450px;
  @media (min-width: 1200px) { width: 528px; }
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 40px;
  transform: scale(1) translate(-50%, -50%);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: white;
  transition: transform 250ms $animation-time-function;
  
  .backdrop.is-hidden > & {
    transform: scale(1.1) translate(-45%, -45%);
  }
}

.modal-window__title {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  @media (min-width: 1200px) { line-height: 1.15; }
  letter-spacing: 0.03em;
  text-align: center;

  color: $dark-grey-text;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;

  border-radius: 50%;
  background-color: $contrast-text;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $default-text;
  cursor: pointer;

  transition: color 250ms $animation-time-function;

  &:hover,
  &:focus {
    color: $active-link-color;
    outline: none;
  }
}

// #endregion

// #region Feedback form styles

.form,
.input-field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.input-field:not(:last-of-type) {
  margin: 0 0 10px;
}

.input-field__label {
  margin: 0 0 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $light-grey-text;
}

.input-field__input {
  height: 40px;
  width: 100%;
  padding: 12px 16px 12px 42px;
  margin: 0px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms $animation-time-function;

  &:focus {
    outline: none;
    border-color: $active-link-color;
  }
}

.input-field__icon {
  color: $dark-grey-text;
  transition: color 250ms $animation-time-function;

.input-field__input:focus + & {
  color: $active-link-color;
}
}

.input-field__wrapper {
  position: relative;
}

.input-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.input-field__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

// #endregion

// #region Agreement checkbox styles

.agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.agreement__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  box-shadow: 0 0 0 2px #000000;
  background-color: #ffffff;
  color: #ffffff;

  transition: background-color 250ms $animation-time-function,
    color 250ms $animation-time-function,
    box-shadow 250ms $animation-time-function;

  .agreement__input:checked + & {
    background-color: $active-link-color;
    box-shadow: 0 0 0 2px $active-link-color;
    color: #ffffff;
  }

  .agreement__input:focus-within + & {
    box-shadow: 0 0 0 2px $active-link-color;
  }
}

.agreement__label {
  margin-left: 7px;
  margin-bottom: 0;

  font-size: 12px;
  line-height: 1.17;

  @media (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
  letter-spacing: 0.03em;
  color: $light-grey-text;
}

.agreement__link {
  text-decoration: underline;
  color: $active-link-color;
}

// #endregion