
/* #region Social buttons */

.contact-list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.contact:not(:last-child) {
  margin-right: 10px;
}

.contact__link {
  border-radius: 50%;
  display: block;
  height: 44px;
  width: 44px;
  color: $icon-color;

  transition: background-color 250ms $animation-time-function,
    color 250ms $animation-time-function;

  &:hover,
  &:focus {
    background-color: $active-link-color;
    color: $contrast-text;
  }
}

/* #endregion */
